#HangReview {
    margin-top: 5px;
    height: 40px;
}
/*
#RongSummary {
    width: 700px;
}
*/
.kichthuocbutton {
    width: 115px;
}
#quanlydonhang {
    width: 800px;
}
.checked {
    color: orange;
}
#cuon {
    overflow: scroll;
}

@media only screen and (min-width: 1024px) {
    #RongSummary {
        width: 700px;
    }    
}



