.chinhlai {
    max-width: 380px;
}

.kichthuocbutton {
    width: 115px;
}
#cuon {
    height: 522px;
    overflow-y: scroll;
}
.hinhsach {
    width: 90px;
    height: 110px;
}

.suadonhang {
    margin-right: 0px;
}
.canhgiua {
    line-height: 38px;
}
.rongmuaban {
    width: 1200px;
}
.org_base{
    background-color: orange;
}
.grey_base{
    background-color: rgb(203, 207, 207);
}
.white_text{
    color: white;
    font-weight: bold;
}
.text_link{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin:auto;
}
.center_block{
    margin: auto;
}
/*
.kichthuocmuaban {
    max-width: 1200px;
}
*/


/*
@media (min-width: 640px) {
    
}

@media (min-width: 480px) {
    
}

@media (min-width: 480px) {
}
*/

@media (min-width: 400px) {
    .kichthuocmuaban {
        max-width: 500px;    
    }
    .rongmuaban {
        width: 500px;
    }
    

}

@media (min-width: 1200px) {
    #RongSummary {
        width: 700px;
    }    
    .kichthuocmuaban {
        max-width: 1200px;    
    }
    .rongmuaban {
        width: 1200px;
    }
    

}


